form{
    margin-top: 8%;
    border-right: 5px solid #F3B954;
    border-left: 5px solid #F3B954;
    border: 10px solid;
    border-image: linear-gradient(red, yellow, green) 10;
    padding: 5px;

}

.message{
	color: red;
	padding-left: 15px;
}